.button{
    width: 100%;
    height: 40px;
    background-color: #00BA82;
    outline: none;
    border: none;
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}